{% extends "main/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="container mx-auto">
    <h1 class="text-4xl font-bold mb-6 text-center">Available Time Slots</h1>
    <div class="overflow-x-auto">
        <table class="table table-zebra w-full">
            <thead>
                <tr>
                    <th></th>
                    <th>User</th>
                    <th>Email</th>
                    <th>Event</th>
                    <th>Description</th>
                    <th>Time Slot</th>
                    <th>Location</th>
                    <th>Notes</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for event in events %}
                <tr>
                    <td>
                        <div class="avatar">
                            <div class="w-12 rounded-full">
                                <img src="{{ event.avatar_url }}" alt="{{ event.username }}">
                            </div>
                        </div>
                    </td>
                    <td>{{ event.username }}</td>
                    <td>{{ event.email }}</td>

                    <td>
                        <div class="font-bold">{{ event.event_title }}</div>
                    </td>
                    <td>{{ event.event_description }}</td>
                    <td>
                        {{ event.start_time.strftime('%Y-%m-%d %H:%M') }} -
                        {{ event.end_time.strftime('%Y-%m-%d %H:%M') }}
                    </td>
                    <td>{{ event.event_location }}</td>
                    <td>{{ event.event_additional_notes }}</td>
                    <td>
                        {% if event.accepted %}
                        <span class="badge badge-success">Accepted</span>
                        {% else %}
                        <span class="badge badge-ghost">Open</span>
                        {% endif %}
                    </td>
                    <td>
                        {% if not event.accepted %}
                        <button class="btn btn-success btn-sm">Accept</button>
                        {% else %}
                        <button class="btn btn-disabled btn-sm" disabled>Accepted</button>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="mt-8 text-center">
        <a href="/time-slot" class="btn btn-primary">Offer My Time Slot</a>
    </div>
</div>
{% endblock %}